@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

:root {
  --background: hsl(0 0% 97.65%);
  --foreground: hsl(0 0% 12.55%);
  --card: hsl(0 0% 98.82%);
  --card-foreground: hsl(0 0% 12.55%);
  --popover: hsl(0 0% 98.82%);
  --popover-foreground: hsl(0 0% 12.55%);
  --primary: hsl(16.67 21.95% 32.16%);
  --primary-foreground: hsl(0 0% 100%);
  --secondary: hsl(34.05 100% 85.49%);
  --secondary-foreground: hsl(16.27 50.43% 22.94%);
  --muted: hsl(0 0% 93.73%);
  --muted-foreground: hsl(0 0% 39.22%);
  --accent: hsl(0 0% 90.98%);
  --accent-foreground: hsl(0 0% 12.55%);
  --destructive: hsl(10.16 77.87% 53.92%);
  --destructive-foreground: hsl(0 0% 100%);
  --border: hsl(0 0% 84.71%);
  --input: hsl(0 0% 84.71%);
  --ring: hsl(16.67 21.95% 32.16%);
  --chart-1: hsl(16.67 21.95% 32.16%);
  --chart-2: hsl(34.05 100% 85.49%);
  --chart-3: hsl(0 0% 90.98%);
  --chart-4: hsl(34.58 100% 88.43%);
  --chart-5: hsl(16.5 24.39% 32.16%);
  --sidebar: hsl(0 0% 98.43%);
  --sidebar-foreground: hsl(0 0% 14.51%);
  --sidebar-primary: hsl(0 0% 20.39%);
  --sidebar-primary-foreground: hsl(0 0% 98.43%);
  --sidebar-accent: hsl(0 0% 96.86%);
  --sidebar-accent-foreground: hsl(0 0% 20.39%);
  --sidebar-border: hsl(0 0% 92.16%);
  --sidebar-ring: hsl(0 0% 70.98%);
  --font-sans: Montserrat, sans-serif;
  --font-serif: Libre Baskerville, serif;
  --font-mono: Roboto Mono, monospace;
  --radius: 0.5rem;
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.1),
    0 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.1),
    0 2px 4px -1px hsl(0 0% 0% / 0.1);
  --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.1),
    0 4px 6px -1px hsl(0 0% 0% / 0.1);
  --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.1),
    0 8px 10px -1px hsl(0 0% 0% / 0.1);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);

  --nav-underline-x: 0px;
  --nav-underline-w: 0.1;
}

.dark {
  --background: hsl(0 0% 6.67%);
  --foreground: hsl(0 0% 93.33%);
  --card: hsl(0 0% 9.8%);
  --card-foreground: hsl(0 0% 93.33%);
  --popover: hsl(0 0% 9.8%);
  --popover-foreground: hsl(0 0% 93.33%);
  --primary: hsl(29.51 100% 88.04%);
  --primary-foreground: hsl(183.16 54.29% 6.86%);
  --secondary: hsl(28.24 17.53% 19.02%);
  --secondary-foreground: hsl(29.51 100% 88.04%);
  --muted: hsl(0 0% 13.33%);
  --muted-foreground: hsl(0 0% 70.59%);
  --accent: hsl(0 0% 16.47%);
  --accent-foreground: hsl(0 0% 93.33%);
  --destructive: hsl(10.16 77.87% 53.92%);
  --destructive-foreground: hsl(0 0% 100%);
  --border: hsl(45 14.29% 10.98%);
  --input: hsl(0 0% 28.24%);
  --ring: hsl(29.51 100% 88.04%);
  --chart-1: hsl(29.51 100% 88.04%);
  --chart-2: hsl(28.24 17.53% 19.02%);
  --chart-3: hsl(0 0% 16.47%);
  --chart-4: hsl(30 17.86% 21.96%);
  --chart-5: hsl(30 100% 87.84%);
  --sidebar: hsl(240 5.88% 10%);
  --sidebar-foreground: hsl(240 4.76% 95.88%);
  --sidebar-primary: hsl(224.28 76.33% 48.04%);
  --sidebar-primary-foreground: hsl(0 0% 100%);
  --sidebar-accent: hsl(240 3.7% 15.88%);
  --sidebar-accent-foreground: hsl(240 4.76% 95.88%);
  --sidebar-border: hsl(240 3.7% 15.88%);
  --sidebar-ring: hsl(240 4.88% 83.92%);
  --font-sans: Montserrat, sans-serif;
  --font-serif: Libre Baskerville, serif;
  --font-mono: Roboto Mono, monospace;
  --radius: 0.5rem;
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.1),
    0 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.1),
    0 2px 4px -1px hsl(0 0% 0% / 0.1);
  --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.1),
    0 4px 6px -1px hsl(0 0% 0% / 0.1);
  --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.1),
    0 8px 10px -1px hsl(0 0% 0% / 0.1);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .icon-button {
    @apply flex items-center justify-center w-10 h-10 rounded-md transition-colors duration-250;
  }

  .icon-button:hover {
    @apply bg-muted;
  }

  .icon-button:focus-visible {
    @apply ring-3 ring-primary/50 outline-none;
  }

  .nav {
    @apply flex items-center justify-between p-4;
  }

  .nav--mobile {
    @apply bg-background relative z-50;
  }

  .nav__list--mobile {
    @apply flex flex-col px-8 py-8 space-y-8 absolute top-full left-0 w-full max-h-screen overflow-y-auto border-t border-b bg-background transform transition-transform duration-300 ease-in-out z-40;
  }

  .nav__list--desktop {
    @apply relative flex items-center gap-6;
  }

  .nav__list--desktop::after {
    @apply absolute content-[''] w-full h-0.5 bg-foreground bottom-0 left-0 top-8 origin-left;
    translate: var(--nav-underline-x) 0;
    scale: var(--nav-underline-w) 1;
    transition: translate 0.3s, scale 0.3s;
  }

  .nav__brand {
    @apply flex items-center gap-3;
  }

  .nav__item {
    @apply px-2 text-muted-foreground transition-colors duration-250;
  }
}
